@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
main {
  font-family: "Volkhov", serif;
  display: flex;

  .text-content {
    max-width: 450px;
    margin-top: 100px;
    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 100%;
      color: #df6951;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 56px;
      font-weight: 700;
      line-height: 64px;
      color: #181e4b;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      color: #5e6282;
      margin-bottom: 20px;
    }
    button {
      width: 150px;
      height: 50px;
      border-radius: 10px;
      background-color: #f1a501;
      font-size: 14px;
      font-weight: 500;
      line-height: 100%;
      color: #fff;
      padding: 18px 30px;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      row-gap: 30px;

      .play-demo {
        display: flex;
        align-items: center;
        margin-right: 50px;
        margin-bottom: -30px;
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  .img-content {
    max-width: 400px;
    margin-top: 18px;
    .main-traveller {
      max-width: 700px;
      margin-left: 100px;
      display: inline-block;
      margin-top: -200px;
    }
    .plane {
      display: inline-block;
      margin-left: 70px;
    }
  }
}
